@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px) translateZ(-50px) rotateX(15deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateZ(0) rotateX(0);
  }
}